.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin: 0;
  padding: 25px 18px;
  /*changed padding from figma because the text couldn't be fit in one line*/
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/Like.svg) no-repeat center;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  background: transparent url(../images/like_hovered.svg) no-repeat center;
}
