.header {
  margin: 45px auto 0;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

.page__logo {
  margin: 0 auto 41px;
}

@media screen and (max-width: 435px) {
  .header {
    margin: 0;
  }

  .page__logo {
    margin: 28px auto 32px 27px;
    width: 124px;
  }
}
