.modal {
  position: fixed;
  inset: 0;
  z-index: 9;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  padding: 36px;
  position: relative;
  max-width: 358px;
  width: 100%;
}

.modal__close {
  background-image: url(../images/close_Icon.svg);
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 4px);
  left: calc(100% + 4px);
  cursor: pointer;
}

.modal__heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  color: black;
  margin: 0 0 24px;
}

.modal__form {
  border: none;
}

.modal__form-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  max-width: 358px;
}

.modal__form-input {
  display: block;
  width: 100%;
  padding-bottom: 13px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  cursor: pointer;
  max-width: 358px;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 48px;
}

.modal__container_preview {
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  background: none;
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}

.modal__wraper {
  align-self: center;
  position: relative;
}

@media screen and (max-width: 435px) {
  .modal__container {
    max-width: 282px;
    padding: 25px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }
  .modal__button {
    font-size: 14px;
    margin-top: 15px;
  }
  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }
}

.input__error {
  font-size: 12px;
  line-height: 15px;
  color: red;
}

.modal__form-input_type_error {
  border-color: red;
}

.modal__button_disabled {
  opacity: 20%;
}
