.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin: 0;
  padding: 25px 18px;
  /*changed padding from figma because the text couldn't be fit in one line*/
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/Like.svg) no-repeat center;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like_active.svg);
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__trash-button {
  position: absolute;
  background: transparent url(../images/Trash.svg) no-repeat center;
  width: 19px;
  height: 18px;
  top: 18px;
  right: 15px;
  z-index: 2;
  border: none;
  cursor: pointer;
}

.card__trash-button:hover {
  opacity: 0.6;
}
